
   
   <p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [closable]="false" [modal]="true" [style]="{width: '20vw'}">
    <div class="flex justify-content-center h-7rem" style="text-align: center">
        <div id="wifi-loader" class="h-full">
            <svg class="circle-outer" viewBox="0 0 86 86">
                <circle class="back" cx="43" cy="43" r="40"></circle>
                <circle class="front" cx="43" cy="43" r="40"></circle>
                <circle class="new" cx="43" cy="43" r="40"></circle>
            </svg>
            <svg class="circle-middle" viewBox="0 0 60 60">
                <circle class="back" cx="30" cy="30" r="27"></circle>
                <circle class="front" cx="30" cy="30" r="27"></circle>
            </svg>
            <svg class="circle-inner" viewBox="0 0 34 34">
                <circle class="back" cx="17" cy="17" r="14"></circle>
                <circle class="front" cx="17" cy="17" r="14"></circle>
            </svg>
            <div class="text" data-text="Please Wait"></div>
        </div>
            <!-- <div style="text-align: center">
                <p-progressSpinner [style]="{width: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>    
            </div> -->
            <!-- <div style="text-align: center">
            <span class="p-text-center"> 
                Please Wait
            </span></div> -->
        </div>
        </p-dialog>
        
