<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
        <div class="flex align-items-center flex-column md:flex-row">
            <img src="../../../../assets/images/dashboard.png" (click)="showsidebar = true" class="mr-5 mb-3 lg:mb-0"
                style="width: 90px; height: 90px;">
            <div>
                <span class="text-900 font-medium text-3xl">Kathryn Murphy</span>
                <div class="flex align-items-center flex-wrap text-sm">
                    <span class="font-medium text-500">Admin</span>
                </div>
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <!-- <button pbutton="" pripple="" icon="pi pi-bookmark" label="Logout" 
                class="p-element p-ripple p-button-rounded mr-2 p-button p-component p-button-icon-only"><span
                    class="p-button-icon pi pi-power-off"></span><span
                    class="p-ink"></span></button> -->
                    
                    <p-button label="Logout" icon="pi pi-power-off" iconPos="left"></p-button>
        </div>
    </div>
</div>

    <p-sidebar [(visible)]="showsidebar" showCloseIcon="true">       
            <app-sidebar></app-sidebar>      
      </p-sidebar>


