<div class="grid px-5 py-2">
    <div class="col-4 md:col-6 flex align-items-center">
        <button pbutton pripple icon="pi pi-list" (click)="global.showSidebar()"
        class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only mr-4"><span
            class="p-button-icon pi pi-list" aria-hidden="true"></span><span
            class="p-ink"></span></button>
    <img src={{user.profileImg}}
        class="mr-5 mb-3 lg:mb-0 hidden md:inline-flex"
        style="width: 90px; height: 90px;">

    </div>
    <div class="col-8 md:col-6 flex justify-content-end headcontent align-items-center">
        <div class="mr-2 headline">
            <div class="text-700 mt-2 hidden md:inline-flex"> 
                <p-chip label="{{date | date:'fullDate'}}" icon="pi pi-calendar-times mr-2" [removable]="true"></p-chip> 
            </div>
            <p-chip label={{user.name}} icon="pi pi-users"></p-chip>
        </div>
        <p-button label="Logout" (click)="logout()" icon="pi pi-power-off" iconPos="left"></p-button>
    </div>
</div>
<!-- <div class="surface-section ">
    <div
        class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">

        <div
            class="flex align-items-center flex-column md:flex-row justify-content-center">
            <button pbutton pripple icon="pi pi-list"
                class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only mr-4"><span
                    class="p-button-icon pi pi-list" aria-hidden="true"></span><span
                    class="p-ink"></span></button>
            <img src="../../../../assets/images/dashboard.png"
                (click)="showsidebar = true" class="mr-5 mb-3 lg:mb-0"
                style="width: 90px; height: 90px;">

        </div>
        <div
            class="lg:mt-0 align-items-center flex align-items-center flex-column md:flex-row justify-content-center">
            <div class="mr-2">
                <span class="text-900 font-medium text-3xl">Kathryn Murphy</span>
                <i class="pi pi-users text-sm text-yellow"></i>
                <div class="flex align-items-center flex-wrap text-sm">
                    <div class="mr-5 mt-3"><span
                            class="font-medium text-500 text-center">Admin</span>
                        <div class="text-700 mt-2">{{date | date:'fullDate'}}</div>
                    </div>
                </div>
            </div>

            <p-button label="Logout" icon="pi pi-power-off" iconPos="left"></p-button>

        </div>
    </div>
</div> -->

<p-sidebar [(visible)]="showsidebar" showCloseIcon="true">
    <app-sidebar></app-sidebar>
</p-sidebar>