<div class="grid flex align-items-center justify-content-center">
    <div class="col-12 md:col-8">
        <h2> {{organizationname |uppercase}}</h2>
    </div>  
    <div class="col-12 md:col-4 text-right ">
        <img height="100" width="150" src="../../../assets/images/salary-logo.png" alt="">
    </div>
    <div class="col-12">
        <h4>Payslip for the month of {{month}} {{year}} </h4>
    </div>
    <div class="col-12 md:col-8">
       
        <table>
            <thead>
                <h4> Employee Pay Summary</h4>
            </thead>
            <tr>
                <td> Employee Name </td>
                <td> Mubashir Rafique Ansari, DS-1017 </td>
            </tr>
            <tr>
                <td> Designation </td>
                <td> Jr. Angular Developer </td>
            </tr>
            <tr>
                <td>Date of Joining </td>
                <td> 12/12/2022 </td>
            </tr>
            <tr>
                <td>Pay Period </td>
                <td> June 2023 </td>
            </tr>
            <tr>
                <td>Pay Date </td>
                <td> 10/02/2023 </td>
            </tr>
            <tr>
                <td>Pan </td>
                <td> dlqpa6993c </td>
            </tr>
            <tr>
                <td>Bank Account No </td>
                <td> 081928370912 </td>
            </tr>
            
        </table>
       
    </div>
    <div class="col-12 md:col-4 text-right ">
        <div class="card">
            <div class="card-container surface-container overflow-hidden">
                <div class="flex">
                    <div class="flex-auto flex align-items-center justify-content-center surface-300 font-bold  m-2 px-5 py-3 border-round">

                        <table class="text-center ">
                            <thead><h4>Employee Net Pay   </h4></thead>
                            <tr colspan="2">
                                <td class="font-normal">Employee Net Pay</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">  20,000 </td>
                            </tr>    
                            <tr>
                                <td class="font-normal"> Paid Days : 30 | LOP Days : 0
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-12 md:col-6">
      
        <div class="border-round p-4">
    <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-xl text-900 font-medium">Earning</span>
        <div>
            <span class="text-xl text-900 font-medium">Amount</span>
            
                <!---->
        </div>
    </div>
    <ul class="list-none p-0 m-0">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <div>
                    <span class="block text-900 font-medium mb-1">Basic</span>      
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <div class="text-600">10,000</div>
                    </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <div>
                    <span class="block text-900 font-medium mb-1">House Rent Allowance</span>      
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <div class="text-600">10,010</div>
                    </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <div>
                    <span class="block text-900 font-medium mb-1">Transport Allowance</span>      
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <div class="text-600">5,000</div>
                    </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <div>
                    <span class="block text-900 font-medium mb-1">Medical</span>      
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <div class="text-600">1000</div>
                    </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <div>
                    <span class="block text-900 font-medium mb-1">Fixed Allowance</span>      
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <div class="text-600">2000</div>
                    </div>
        </li>
      
       
    </ul>
</div>
    </div>
    <div class="col-12 md:col-6">
        <table>
            <tr>
                <th>Deductions</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>Professional Tax  </td>
                <td> -- </td>
            </tr>
            <tr>
                <td> Other Tax </td>
                <td> -- </td>
            </tr>
            <tr>
                <td> Other Tax </td>
                <td> -- </td>
            </tr>
            <tr>
                <td> Other Tax </td>
                <td> -- </td>
            </tr>
            <tr>
                <td> Other Tax </td>
                <td> -- </td>
            </tr>

        </table>
    </div>
</div>