<div class="grid flex align-items-center justify-content-center">
    <div class="col-12 md:col-8">
        <h2> {{organizationname |uppercase}}</h2>
    </div>  
    <div class="col-12 md:col-4 text-right ">
        <img height="100" width="150" src="../../../assets/images/salary-logo.png" alt="">
    </div>
    <div class="col-12">
        <h4>Payslip for the month of {{month}} {{year}} </h4>
    </div>
    <div class="col-12">
        <h4> Employee Pay Summary</h4>
        <table>
            <tr>
                <td> Employee Name </td>
                <td> Mubashir Rafique Ansari, DS-1017 </td>
            </tr>
            <tr>
                <td> Designation </td>
                <td> Jr. Angular Developer </td>
            </tr>
            <tr>
                <td>Date of Joining </td>
                <td> 12/12/2022 </td>
            </tr>
        </table>
       
    </div>
</div>