
	<div class="card" *ngIf="salArr" #pdfTable>
        <header>
                <h1>{{salArr.organizationDetail.name}}</h1>
                <div class="grid">
                    <div class="col-6 text-center">
                        <ul>
                            <li>{{salArr.organizationDetail.address.street}}</li>
                            <li>{{salArr.organizationDetail.address.city}}</li>
                            <li>{{salArr.organizationDetail.address.state}}</li>
                        </ul>
                    </div>
                    <div class="col-6 text-center">
                        <!-- <span> -->
                            <img alt="" height="100" width="150" [src]="salArr.organizationDetail.logoUrl">
                            <!-- </span> -->
                    </div>
                </div>
                
                
            </header>
            <article>
                <div class="grid text-center align-items-start">
                    
                    <div class="col-6">
                        <h4>
                            Payslip for the month of {{salArr.month |uppercase}} - {{salArr.year}}
                        </h4>
                        <ul>
                          
                            <li>
                                {{salArr.userDetail.name | uppercase}}
                            </li>
                            <li>
                                {{salArr.userDetail.contact}}
                            </li>
                            <li>
                                {{salArr.userDetail.email}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <table class="meta">
                            <tr>
                                <th><span>Slip no #</span></th>
                                <td><span>{{salArr._id}}</span></td>
                            </tr>
                            <tr>
                                <th><span>Created At</span></th>
                                <td><span>{{salArr.createdAt | date:'short'}}</span></td>
                            </tr>
                            <tr>
                                <th><span>Amount</span></th>
                                <td><span>{{salArr.totalNetAmount | currency:"INR":"symbol"}}</span></td>
                            </tr>
                        </table>   
                    </div>
                </div>

                
                
                <table class="inventory">
                    <thead>
                        <tr>
                            <th><span >Earning</span></th>
                            <th><span >Amount</span></th>
                            <th><span >Dedection</span></th>
                            <th><span >Amount</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Basic</td>
                            <td>{{salArr.basicAmount | currency:"INR":"symbol"}}</td>
                           <td> Professional Tax </td>
                           <td> {{salArr.professionalTax | currency:"INR":"symbol"}} </td>
                        </tr>
                        <tr>
                            <td>House Rent Allowance</td>
                            <td>{{salArr.houseRent | currency:"INR":"symbol"}}</td>
                            <td>Other Tax</td>
                            <td>{{salArr.otherTax | currency:"INR":"symbol"}}</td>
                        </tr>
                        <tr>
                            <td>Transport Allowance</td>
                            <td>{{salArr.transportAllowance | currency:"INR":"symbol"}}</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td> Medical </td>
                            <td> {{salArr.mdeical | currency:"INR":"symbol"}} </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td> Fixed Allowance </td>
                            <td> {{salArr.fixedAllowance | currency:"INR":"symbol"}} </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                       
                    </tbody>
                </table>
                <div class="grid text-center align-items-start justify-content-center">
                    <div class="col-8">
                        <table class="balance">
                        <tr>
                            <th><span></span>Gross Earning </th>
                            <td><span>{{salArr.grossEarning | currency:"INR":"symbol"}}</span></td>
                        </tr>
                        <tr>
                            <th><span>Total Deduction</span></th>
                            <td><span>{{salArr.deductionAmount | currency:"INR":"symbol"}}</span></td>
                        </tr>
                        <tr>
                            <th><span>Net Total</span></th>
                            <td><span>{{salArr.totalNetAmount | currency:"INR":"symbol"}}</span></td>
                        </tr>
                    </table>
                    </div>
                </div>
            </article>
            <aside>
                <h1><span >Additional Notes</span></h1>
                <div class="text-center">
                    <p>-- This is a system generated payslip, hence the signature is not required. --</p>
                </div>
            </aside>
    </div>
