// @import url('../../../../assets/style/table.scss');
.card .card-header {    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-datatable>.p-datatable-wrapper {
    overflow: auto;
}
@media screen and (max-width: 40rem) {
    .tab-head{
        font-size: smaller;
    }
    :host ::ng-deep {
        .p-datatable>.p-datatable-wrapper {
            overflow: auto;
        }
        .p-datatable table {
            border-collapse: none !important;
            table-layout: unset !important;
            border-spacing: 0px;
            width: 100%;
        }
        .hidelogo{
            display: none;
        }
        .p-datatable {
            
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                   
                }
                .p-datatable-thead > tr >th{
                    font-size: 12px;
                }
                .p-datatable .p-sortable-column .p-sortable-column-icon {
                    font-size: 12px;
                }
                .p-datatable-thead > tr >th{
                    &:nth-child(2){
                        display: none;
                    } 
                }
                .p-datatable-tbody > tr > td {
                    font-size: 12px;   
                }
                .p-datatable-tbody > tr > td {
                  

                  

                    /* Hide specific columns on smaller screens */
                    &:nth-child(2){
                        display: none;
                    }

                }
            }
        }
      
    }
}


