:host::ng-deep{
    .p-inputtext {
        margin: 0;
        width: 100%;
    }
}
@media all and (max-width:426px){
    .rolendob{
        display: flex !important;
        justify-content: center !important;
    }    
}
.rolendob{
    display: flex;
    justify-content: space-between;
}
.error{
    color: red;
}