<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-3 surface-ground ng-star-inserted">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5"><img src="../../../../assets/images/head-school.svg" alt="Image" height="50"
        class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
      <!-- <span class="text-600 font-medium line-height-3">Don't have an account?</span><a
        class="font-medium no-underline ml-2 text-blue-200 cursor-pointer">Create today!</a> -->
    </div>

    <div>
      <form [formGroup]="regForm" (ngSubmit)="registerUser()">     
      <label for="email1" class="block text-900 font-medium mb-2">Username</label>
      <input id="email1" type="text" formControlName="name" 
        placeholder="Enter Useranme" pinputtext="" class="p-inputtext p-component p-element w-full mb-3">
      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input id="email1" type="text" formControlName="email"
        placeholder="Email address" pinputtext="" class="p-inputtext p-component p-element w-full mb-3">

        <div class="error mb-2 text-center" *ngIf="formControl.email.errors?.pattern && (formControl.email.touched && formControl.email.invalid)">
          <small>Provide Valid Email Address</small>
      </div> 
        <div class="error mb-2 text-center" *ngIf="formControl.email.errors?.required && (formControl.email.touched && formControl.email.invalid)">
          <small>Email Required</small>
      </div>

        <label for="contact" class="block text-900 font-medium mb-2">Contact</label>
      <input id="contact" type="text" formControlName="contact"
        placeholder="Contact" pinputtext="" class="p-inputtext p-component p-element w-full mb-3">
    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
    <div class="w-full">
     <p-password formControlName="password" [style]="{'width':'100%','margin-bottom':'10px'}" placeholder="Enter Password" [toggleMask]="true">
        <ng-template pTemplate="header">
            <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="p-mt-2">Suggestions</p>
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
            </ul>
        </ng-template>
    </p-password>
    </div>

    <label for="confirmpassword" class="block text-900 font-medium mb-2">Confirm Password</label>
    <div class="w-full">
      <p-password formControlName="confirmpassword" [feedback]="false" [style]="{'width':'100%','margin-bottom':'10px'}" placeholder="Confirm Password" [toggleMask]="true"></p-password>
    </div>
    <!-- <input id="confirmpassword" type="password" formControlName="confirmpassword"
        placeholder="Confirm Password" pinputtext="" class="p-inputtext p-component p-element w-full mb-3"> -->
        <!-- <input id="password1" type="password" placeholder="Password" pinputtext="" class="p-inputtext p-component p-element w-full mb-3"> -->
      
        <div class="error mb-2 text-center" *ngIf="passwordmatch">
          <small class="error">Password Not Match</small>
      </div>
        

        <div class="rolendob text-center mb-2 p-2">
          <div class="w-full">
            <label for="password1" class="block text-900 font-medium mb-2">Select Role</label>
            <p-dropdown formControlName="role" [style]="{'width':'80%','margin-bottom':'5px'}" [options]="typearr" class="w-full" optionValue="value" required optionLabel="role" name="type" placeholder="Select Insterest Type"></p-dropdown>
          
          </div>
          <div class="w-full ">
            <label for="dateformat" class="block text-900 font-medium mb-2">Date of Birth</label>
            <p-inputMask mask="99/99/9999" formControlName="DOB" placeholder="mm/dd/yyyy" slotChar="mm/dd/yyyy"></p-inputMask>
            <!-- <input type="date" formControlName="DOB" placeholder="Date of Birth" class="p-inputtext p-component p-element w-full mb-3" > -->
            <!-- <p-calendar  dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar> -->
          </div>
        </div>
        <div class="text-center mb-3 ">
          <a routerLink="/login" class="text-center font-medium no-underline text-blue-500 cursor-pointer mb-3">Already Register Login!</a>
        </div>
      </form>
        <div class="text-center">
          <button pButton type="button" label="Login" (click)="registerUser()" [disabled]="showSubmit" class="p-button-success"></button>
        </div>
      <!-- <button pbutton="" pripple=""  icon="pi pi-user" type="submit" [disabled]="showSubmit"
        class="p-element p-ripple w-full p-button p-component btn-sm"><span class="p-button-icon p-button-icon-left pi pi-user"
          aria-hidden="true"></span><span class="p-button-label">Register</span><span class="p-ink"></span></button> -->
    </div>
  </div>
</div>