<div class="overflow-y-auto">
    <ul class="list-none p-3 m-0" *ngIf="users.role === 'admin' ">
        <li>
            <div pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="slidedown" leavetoclass="hidden"
                leaveactiveclass="slideup"
                class="p-element p-ripple p-3 flex align-items-center justify-content-between text-600 cursor-pointer">
                <span class="font-medium">Admin</span><span class="p-ink"
                    style="height: 247px; width: 247px; top: -75.5px; left: -40.1667px;"></span></div>
            <ul class="list-none p-0 m-0 overflow-hidden">
                <li><a pripple="" routerLink="/admin/organization" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-box mr-2"></i><span class="font-medium">Organization Management</span><span
                            class="p-ink"
                            style="height: 247px; width: 247px; top: -104.833px; left: -83.1667px;"></span></a></li>

                <li><a pripple="" routerLink="/admin/student" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-home mr-2"></i><span class="font-medium">Student Management</span><span
                            class="p-ink"
                            style="height: 247px; width: 247px; top: -104.833px; left: -83.1667px;"></span></a></li>
                <li><a pripple="" routerLink="/admin/donation" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-money-bill mr-2"></i><span class="font-medium">Donation Management</span><span
                            class="p-ink"
                            style="height: 247px; width: 247px; top: -104.833px; left: -83.1667px;"></span></a></li>
                <li><a pripple="" (click)="global.hideSidebar()" routerLink="/admin/teacher"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-bookmark mr-2"></i><span class="font-medium">Teacher Management</span><span
                            class="p-ink"
                            style="height: 247px; width: 247px; top: -100.167px; left: -62.1667px;"></span></a></li>
                <li><a pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="slidedown"
                        leavetoclass="hidden" leaveactiveclass="slideup" (click)="global.hideSidebar()"
                        routerLink="/admin/fees"
                        class="p-element p-ripple flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-chart-line mr-2"></i><span class="font-medium">Fees Management </span><span
                            class="p-ink"></span></a>
                </li>
                <li><a pripple="" (click)="global.hideSidebar()" routerLink="/admin/staff"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-users mr-2"></i><span class="font-medium">Staff Management </span><span
                            class="p-ink"></span></a></li>

                <li><a pripple="" (click)="global.hideSidebar()" routerLink="/admin/salary"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-comments mr-2"></i><span class="font-medium">Salary Management </span><span
                            class="p-ink"></span></a></li>
                <!-- <li><a pripple=""
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-comments mr-2"></i><span class="font-medium">Messages</span><span
                            class="inline-flex align-items-center justify-content-center ml-auto bg-blue-500 text-0 border-circle"
                            style="min-width: 1.5rem; height: 1.5rem;">3</span><span class="p-ink"
                            style="height: 247px; width: 247px; top: -70.1667px; left: -12.1667px;"></span></a></li> -->
                <li><a pripple="" (click)="global.hideSidebar()" routerLink="/admin/notice"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-calendar mr-2"></i><span class="font-medium">Notice Management</span><span
                            class="p-ink"
                            style="height: 247px; width: 247px; top: -101.167px; left: -25.1667px;"></span></a></li>
                <li><a pripple="" routerLink="/admin" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-cog mr-2"></i><span class="font-medium">Dashboard</span><span class="p-ink"
                            style="height: 247px; width: 247px; top: -96.5px; left: -27.1667px;"></span></a></li>
            </ul>
        </li>
    </ul>
    <ul class="list-none p-3 m-0">
        <li>
            <div pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="slidedown" leavetoclass="hidden"
                leaveactiveclass="slideup"
                class="p-element p-ripple p-3 flex align-items-center justify-content-between text-600 cursor-pointer">
                <span class="font-medium">General</span><i class="pi pi-chevron-down"></i><span class="p-ink"></span>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
                <li> <a pripple="" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-folder mr-2"></i><span class="font-medium">TimeTable</span><span
                            class="p-ink"></span></a></li>
                <li><a pripple="" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-chart-bar mr-2"></i><span class="font-medium">Report Cards</span><span
                            class="p-ink"></span></a></li>
                <li><a pripple="" routerLink="/profile" (click)="global.hideSidebar()"
                        class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                            class="pi pi-cog mr-2"></i><span class="font-medium">Settings</span><span
                            class="p-ink"></span></a></li>
            </ul>
        </li>
    </ul>
</div>