<!-- <button pButton pRipple label="btn check" type="button" icon="pi pi-check" class="p-button-rounded mx-auto"></button> -->
<div class="card">

    <app-loader></app-loader>
<app-header *ngIf="localData.isUserLogin() || showHeader"></app-header>
<router-outlet>
  
</router-outlet>
</div>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '90vw'}"></p-confirmDialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'},'425px':{width: '90%', right: '0', left: '0'}}" 
[showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
 position="bottom-right" [showTransformOptions]="'translateX(100%)'" [preventDuplicates]="true"></p-toast>